* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* header */
#header-nav {
    border-radius: 0;
}

.navbar-brand {
    font-size: 22px;
}

#nav-list {
    text-align: center;
    text-transform: capitalize;
    color: gray;
    /* font-size: 10em; */
}

/* main content */
h3,
h4 {
    text-align: center;
    text-transform: capitalize;
}


img {
    padding-top: 20px;
}

section {
    margin: 10px;
    background-color: silver;
}

/* media query */
@media (min-width:992px) {

    /* div {
        float: left;
        width: 33.33%;
        padding: 10px;
    } */
}

@media (min-width:768px) and (max-width:991px) {

    .col-1,
    .col-2 {
        float: left;
        width: 50%;
        padding: 10px;
    }

    .col-3 {
        clear: both;
        width: 100%;
        padding: 10px;
    }
}

@media (max-width:767px) {}